#Carousel {
  overflow: hidden;
  height: 75vh;
  max-width: 100%; }

.carousel {
  height: 100%; }
  .carousel-control-prev {
    display: none; }
  .carousel-control-next {
    display: none; }
  .carousel-indicators .active {
    display: none;
    height: 100%; }
  .carousel-indicators--round li {
    display: none; }
  .carousel-inner {
    height: 100%; }
  .carousel-item {
    height: 100%; }
  .carousel-llena {
    height: 100%;
    background-position: center;
    background-size: cover; }
    .carousel-llena--first {
      background-image: url("/assets/slide-1.jpg"); }
    .carousel-llena--second {
      background-image: url("/assets/slide-2.jpg"); }
    .carousel-llena--third {
      background-image: url("/assets/slide-3.jpg"); }
  .carousel-header-text {
    position: absolute;
    top: 35%;
    left: 0.5rem;
    right: auto;
    width: 95%;
    background-color: rgba(128, 128, 128, 0.3);
    color: #fff;
    padding: 1rem; }

@media only screen and (min-width: 768px) {
  .carousel-header-text {
    width: 35%;
    left: 10%; }
  .carousel-indicators .active {
    display: initial;
    background-color: #fff;
    max-width: 12px;
    margin: 0 3px;
    height: 12px; }
  .carousel-indicators--round li {
    display: initial;
    border-radius: 10px;
    margin: 1px 3px;
    height: 10px;
    max-width: 10px;
    border: 1px solid #FFF;
    background-color: transparent; } }

@media only screen and (min-width: 1200px) {
  .carousel-header-text {
    width: 25%; } }

.navbar-div {
  position: absolute;
  left: 1.5rem;
  top: 10%;
  width: 87%;
  background-color: rgba(149, 142, 125, 0.8);
  z-index: 10;
  border-radius: 0;
  border-color: transparent;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.8); }

.navbar-toggler {
  margin-top: 0.5rem; }

@media only screen and (min-width: 768px) {
  .navbar-div {
    left: 10%; }
  .navbar-brand {
    padding-right: 5rem; } }

.tt-title-principal {
  color: #654e2d;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.5rem; }

.tt-title-secondary {
  color: #b4a48d;
  font-family: 'Goudy Bookletter 1911', Georgia, serif;
  font-size: 1rem;
  text-shadow: 1px 1px 1px #ffffff;
  text-transform: uppercase;
  font-style: normal; }

.tt-star {
  color: rgba(149, 142, 125, 0.5); }

@media only screen and (min-width: 768px) {
  .tt-title-principal {
    font-size: 2rem; }
  .tt-title-secondary {
    font-size: 14px; } }

section {
  margin-right: 15px;
  margin-left: 15px;
  position: relative; }
  section:not(:last-child):after {
    content: '';
    margin-right: 15px;
    margin-left: 15px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 2px;
    background: #333;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, transparent), color-stop(50%, rgba(0, 0, 0, 0.75)), color-stop(100%, transparent));
    background: -webkit-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.75) 50%, transparent 100%);
    background: -moz-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.75) 50%, transparent 100%);
    background: -ms-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.75) 50%, transparent 100%);
    background: -o-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.75) 50%, transparent 100%);
    background: linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.75) 50%, transparent 100%); }
  section:first-child {
    background-color: #FBFBF8; }
  section:nth-child(2) {
    background: url("/assets/content-bg.png"); }
