@import "./abstracts/index";
// @import 'base/';
@import "./components/index";
// @import 'layout/';
// @import 'pages/';


.tt-title-principal{
    color: #654e2d;
    padding-top: 15px;
	padding-bottom: 15px;
	font-size: 1.5rem;
}
.tt-title-secondary{
    color: #b4a48d;
    font-family: 'Goudy Bookletter 1911', Georgia, serif;
    font-size: 1rem;
    text-shadow: 1px 1px 1px #ffffff;
    text-transform: uppercase;
    font-style: normal;
}



  
// .tt-navbar{
// 	background-color:;
// }
.tt-star{
	color: rgba(149, 142, 125, .5);
}




@media only screen 
   and (min-width : 768px) {
	.tt-title-principal{
		font-size: 2rem;
	}
	.tt-title-secondary{
		font-size: 14px;
	}
}
section{
	margin-right: 15px;
	margin-left: 15px;
	position: relative;
	// https://codepen.io/Paulie-D/pen/zxmNLM
	
		&:not(:last-child):after {
			content:'';
			margin-right: 15px;
			margin-left: 15px;
			width: 100%;
			position: absolute;
			left:0;
			bottom:-1px;
			height: 2px;
			background: #333;
			background: -webkit-gradient(linear, left top, right top, color-stop(0%, hsla(0, 0%, 0%, 0)), color-stop(50%, hsla(0, 0%, 0%, .75)), color-stop(100%, hsla(0, 0%, 0%, 0)));
			background: -webkit-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .75) 50%, hsla(0, 0%, 0%, 0) 100%);
			background: -moz-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .75) 50%, hsla(0, 0%, 0%, 0) 100%);
			background: -ms-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .75) 50%, hsla(0, 0%, 0%, 0) 100%);
			background: -o-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .75) 50%, hsla(0, 0%, 0%, 0) 100%);
			background: linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .75) 50%, hsla(0, 0%, 0%, 0) 100%);
		}
		&:first-child{
			background-color: #FBFBF8;
		}
		&:nth-child(2){
			background: url('/assets/content-bg.png')
		}

  }

